{% extends 'main.html' %}

<!-- here we are specifying where to show this home template i.e. inside this 'block content' and 'endblock content' of main.html -->
{% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<!-- main div container -->
<div class="home-container">
  <!-- first div container within main div container -->
  <div>
    <h3>Browse Topics</h3>
    <hr />

    <!-- clickable to go back to the homepage from a particular Topic -->
    <div>
      <a href="{% url 'home' %}">All</a>
    </div>

    <!-- since we want to display all the topics under 'Browse Topics' -->
    {% for topic in topics %}
    <div>
      <!-- here we have made all the topics as clickable so that when it is clicked the user will be thrown back to home page as we have given '{% url 'home' %}' and q here is query parameter which is required to filter the rooms based on the topic clicked by users.For more info, look at notion.   -->
      <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <!-- second div container within main div container -->
  <div>
    <!-- 'create-room' is the name of the path (look in urls.py) -->
    <a href="{% url 'create-room' %}">Create Room</a>

    <div>
      {% for room in rooms %}
      <div>
        <!-- Button for editing the room -->
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <!-- Button for deleting the room -->
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        <!-- here we are displaying the host of the room in frontend of room i.e. displaying creator of repsective room like '@kumar' -->
        <span>@{{room.host.username}}</span>
        <h5>
          {{room.id}} --<a href="{% url 'room' room.id %}">{{room.name}}</a>
        </h5>
        <!-- displaying name of the topic -->
        <small>{{room.topic.name}}</small>
        <!-- adding line break -->
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
